<div class="container-fluid top-container-view-card mt-1 px-0 mx-0 mb-5">
    <div class="row">
        <div class="col-sm-12 col-md-12 mx-0 px-1">
            <div class="custom-card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 card-title">{{ResourceComponentObject.cardTitle}}</div>
                    </div>
                </div>
                <div class="card-body">
                    <app-custom-table [tableComponentObject]="ResourceComponentObject"
                        (emitFromCommonTableToParent)="receiveEmittedDataFromCommonTbl($event)">
                    </app-custom-table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Resource Details modal -->
<!-- <div bsModal #resourceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="dialog-child-name" class="modal-title pull-left"> Resource Details </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideTrackingModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-view-modal *ngIf="sendDataToFieldsetLegendKeyValue"
                    [receivedData]="sendDataToFieldsetLegendKeyValue"></app-view-modal>
                <app-family-and-member-view *ngIf="sendDataToFieldsetLegendKeyValue" [receivedData]="sendDataToFieldsetLegendKeyValue"></app-family-and-member-view>
            </div>
        </div>
    </div>
</div> -->
<div bsModal #resourceModal="bs-modal" class="modal fade" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Resource Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="hideTrackingModal()"></button>
            </div>
            <div class="modal-body">
                <app-view-modal *ngIf="sendDataToFieldsetLegendKeyValue"
                    [receivedData]="sendDataToFieldsetLegendKeyValue"></app-view-modal>
            </div>
        </div>
    </div>
</div>