.form-gap {
    padding-top: 70px;
    height: 100vh;
    background-color: aliceblue;

    .panel {
        padding: 36px 20px;
        border-radius: 5px;
        box-shadow: 9px 8px 17px 6px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 9px 8px 17px 6px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 9px 8px 17px 6px rgba(0, 0, 0, 0.18);
        background-color: #fff;
        color: #033454;

        .input-group {
            margin-bottom: 10px;
        }
    }
}