<div class="container-fluid mx-0 px-0 top-sticky">
    <section class="header1">
        <div class="row align-items-center">
            <div class="col-md-6 d-flex header1-name">
                <div class="desc">
                    Welcome Admin
                    <!-- Welcome {{this.userData?.user?.firstName + " " + this.userData?.user?.lastName + " (" +
                    this.userData?.roleName + ")" }} -->
                </div>
            </div>
            <div class="col-md-6 d-flex header1-btns-div">
                <div class="btn-contnr">

                    <button class="btn header1-btns" type="button">
                        Notification&nbsp;
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </button>

                    <button class="btn header1-btns" type="button" #userDiv>
                        User&nbsp;
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div *ngIf="isUserIconVisible" class="custom-drop justify-content-center align-items-center">
                            <div class="row">
                                <div class="col-sm-12 img-container">
                                    <img class="prof-img"
                                        src="../../../../assets/afterLoginImages/headerImages/profile.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 dv-hover" (click)="goToProfile()">Profile</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 dv-hover" (click)="goToChangePassword()">Change Password</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 dv-hover logout" (click)="logout()">Logout</div>
                            </div>
                        </div>
                    </button>


                </div>
            </div>
        </div>
    </section>

    <app-horizontal-menu></app-horizontal-menu>
</div>