.fa-check {
    float: right;
    padding-top: 3px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 800;
    color: #0f7595;
}

.ul-card {
    border: 1px solid rgba(15, 117, 149, 0.48);
    box-shadow: 0px 0px 10px rgba(15, 117, 149, 0.4196078431);
    border-radius: 9px;
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
}