<div class="container-fluid px-0 mx-0">
    <section class="header1">
        <div class="row align-items-center">
            <div class="row">
                <div class="col-md-1" style="background-color: white; border-radius: 5%;">
                    <img src="../../../../assets/afterLoginImages/headerImages/logo-odisha.png" class="logo-container">
                </div>
                <div class="col-md-8" style="color: white;">
                    <div>Social Security & Empowerment of Persons with Disabilities Department </div>
                    <div style="color: #d5cfcf;;">Government of Odisha </div>
                </div>
            </div>
            <!-- <img src="../../../../assets/afterLoginImages/headerImages/logo-odisha.png" class="logo-container"
                height="100px" width="100px"> -->

            <!-- <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <div class="desc">
                    <marquee width="" direction="left" height="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo ligula ornare ac,
                    </marquee>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 btn-main-contnr">
                <div class="btn-contnr">
                    <button class="btn header1-btns" type="button" (click)="navigateTo('landing-page/login')">
                        Login <div class="btn-icons icon-login"></div>
                    </button>
                </div>
            </div> -->
        </div>
    </section>
</div>