<div class="form-gap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="profile-picture">
                                <img class="prof-img"
                                    src="../../../../assets/afterLoginImages/headerImages/profile.png" />
                            </div>
                            <h2 class="name">Muhammad Ilyas</h2>
                            <h3 class="username">fastroware&#64;gmail.com</h3>
                            <p class="tagline">7417417410</p>
                            <p class="description">Masih belajar CSS dan HTML.</p>
                            <button type="button" class="my-btn">Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="card">
        <div class="profile-picture">
            <img class="prof-img" src="../../../../assets/afterLoginImages/headerImages/profile.png" />
        </div>
        <h2 class="name">Muhammad Ilyas</h2>
        <h3 class="username">fastroware&#64;gmail.com</h3>
        <p class="tagline">7417417410</p>
        <p class="description">Masih belajar CSS dan HTML.</p>
        <a href="#" class="button">Edit Profile</a>
    </div>
</div> -->